First we need to import X_dataset.csv and provide labels to the dataset

In [4]:
import pyspark
import pandas as pd
import matplotlib.pyplot as plt

headers = ['class', 'largestSpot', 'spotDistribution', 'activity', 'evolution', 'previousActivity', 'complex',
           'complexOnPath', 'area', 'largestSpotArea', 'c-class', 'm-class', 'x-class']

df = pd.read_csv('SolarFlare_Clean.csv', header=None, names=headers)

df.head()

,class,largestSpot,spotDistribution,activity,evolution,previousActivity,complex,complexOnPath,area,largestSpotArea,c-class,m-class,x-class
0,H,A,X,1,3,1,1,1,1,1,0,0,0
1,D,R,O,1,3,1,1,2,1,1,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,H,R,X,1,2,1,1,1,1,1,0,0,0
4,H,S,X,1,1,1,1,2,1,1,0,0,0

We want to create a 5 number summary of the dataset and graph this using a box plot

In [5]:
df.describe().T

                   count      mean       std  min  25%  50%  75%  max
activity          1066.0  1.153846  0.360971  1.0  1.0  1.0  1.0  2.0
evolution         1066.0  2.401501  0.620584  1.0  2.0  2.0  3.0  3.0
previousActivity  1066.0  1.059099  0.320324  1.0  1.0  1.0  1.0  3.0
complex           1066.0  1.404315  0.490989  1.0  1.0  1.0  2.0  2.0
complexOnPath     1066.0  1.875235  0.330608  1.0  2.0  2.0  2.0  2.0
area              1066.0  1.025328  0.157194  1.0  1.0  1.0  1.0  2.0
largestSpotArea   1066.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
c-class           1066.0  0.300188  0.835784  0.0  0.0  0.0  0.0  8.0
m-class           1066.0  0.046904  0.302811  0.0  0.0  0.0  0.0  5.0
x-class           1066.0  0.005629  0.086487  0.0  0.0  0.0  0.0  2.0